<div class="jumbotron">
    <form class="form-inline" method="GET" action="/search">
        <div class="input-group input-group-lg search-panel">
                <input class="form-control input-lg " name="q" type="text" placeholder="Enter keyword"  style="width:70%">
                <a href="javascript:getSearch();" class="btn btn-lg btn-info search-panel-button">
                    <span class="glyphicon glyphicon-search ">
                        <span class="search-text">Search</span>
                    </span>
                </a>
        </div>
    </form>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Search for software technology</h4>
        <p>Search site for developers</p>
    </div>

</div>