<div id="content">
    <div class="container">
        <div class="jumbotron">
            <form class="form-inline">
                <div class="input-group input-group-lg search-panel">
                    <input class="form-control input-lg " name="host" type="text" placeholder="Enter your blog Host"
                           style="width:70%">
                    <a href="javascript:getHostCount();" class="btn btn-lg btn-info search-panel-button">
                        <span class="glyphicons glyphicons-plus">
                          <span class="search-text">Add</span>
                        </span>
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="jumbotron">
    <h3>host list</h3>
    <div id="hostList"></div>
</div>


<script>
    function getHostCount(){
        if(getHostChk()!=null) {
            var host = $("input[name=host]").val();
            if (host == "") {
                alert("empty host...");
                return false;
            }else {
                $.ajax({
                    url: '../hostCount',
                    type: "post",
                    data: {host: host},
                    async: false,
                    success: function (data) {
                        if (data.result) {
                            if(data.resultCnt == 0) {
                                setHost(host);
                            }else{
                                alert("error - duplicate host");
                            }
                        }else{
                            alert(data.resultMsg);
                        }
                    }
                });
            }

        }else{
            alert("host check error... ");
        }
    }

    function setHost(host){
        $.ajax({
            url: '../hostInsert',
            type: "post",
            data: {host: host},
            async: false,
            success: function (data) {
                alert(data.resultMsg);
            }
        });
    }

    function getHostChk(){
        var aa = $("input[name=host]").val();
        var patt =  /^(http\:\/\/)?((\w+)[.])+(asia|biz|cc|cn|com|de|eu|in|info|jobs|jp|kr|mobi|mx|name|net|nz|org|travel|tv|tw|uk|us)(\/(\w*))*$/gi;
        var result = (aa.match(patt));
        return result;
    }


    function getHostList(){
        $.ajax({
            url: '../hostList',
            type: "get",
            async: false,
            success: function (data) {
                if (data.result) {
                    var d = data.resultList;
                    if(d.length>0) {
                        for (var i = 0; i < d.length; i++) {
                            $("#hostList").append("<span>" + d[i].host + "</span><p>");
                        }
                    }else{
                        $("#hostList").append("<span> empty host list </span><p>");
                    }

                }
            }
        });
    }

    $("document").ready(function(){
        getHostList();
    });

</script>